[Unit]
Description=Run vehicle-recycle-system logrotate regularly

[Timer]
OnBootSec=10m
OnUnitActiveSec=1h
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
